body {
    margin: 0;
    padding: 0;
}
#header {
    background-color: #507AAA;
    color: #F8F8F8;
    margin: 0;
    padding: 4px 8px 0 6px;
    position: relative;
}
#header img {
    float: left;
    left: 0px;
    top: 0px;
    height: 64px;
    width: 64px;
}

#content {
    clear: both;
    margin-left: 20px;
}

.settings-label {
    font-size: medium;
    font-weight: bold;
    background-color: #2c4056;
    color: #f8f8f8;
    padding: 2px;
}
#advanced-settings-label {
    cursor: pointer;
}

#advanced-settings {
    display: none;
}

#message-checkInterval {
    color: #ff0000;
}
